!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Libre+Baskerville:400,600|Poppins:400,500,700", :rel => "stylesheet", :type => "text/css"}/
    / ICON FONT
    %link{:href => "assets/styles.css", :rel => "stylesheet"}/
    / Third Party CSS including Bootstrap
    %link{:href => "assets/third-party.css", :rel => "stylesheet"}/
    / STYLESHEETS
    %link{:href => "assets/styles.css", :rel => "stylesheet"}/
    %link{:href => "assets/responsive.css", :rel => "stylesheet"}/
  %body
    /
      \=========================
      PRE LOADER
      \==============================
    .preloader
      .status
        .loader
          %svg.circular{:viewbox => "25 25 50 50"}
            %circle.path{:cx => "50", :cy => "50", :fill => "none", :r => "20", "stroke-miterlimit" => "10", "stroke-width" => "3"}
    /
      \=========================
      SECTION: HOME / HOMEPAGE
      \==============================
    %section#home.home.fixed-bg
      .color-overlay
        / COLOR OVERLAY
        / NAVIGATION
        .navbar.navbar-inverse.bs-docs-nav.navbar-fixed-top.sticky-navigation{:role => "navigation"}
          .container
            .navbar-header
              / NAVBAR EXPAND COLLAPSE ON MOBILE
              %button.navbar-toggle{"data-target" => "#alexis-navigation", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon.icon-menu
              / LOGO
              %a.navbar-brand
                %img{:src => "assets/head.png"}/
            #alexis-navigation.navbar-collapse.collapse
              / NAVIGATION LINK
              %ul#internal-scroll.nav.navbar-nav.navbar-right.main-navigation
                %li
                  %a{:href => "#home"} Home
                %li
                  %a{:href => "#section1"} About Us
                %li
                  %a{:href => "#section2"} Services
                %li
                  %a{:href => "#section4"} Team
                / %li
                /   %a{:href => "#section6"} Pricing
                / %li
                /   %a{:href => "#section7"} Testimonials
                / %li
                /   %a{:href => "#section9"} Blog
                %li
                  %a{:href => "#section10"} Contact
                %li
                  %a.btn.btn-standard.btn-lg.purple-button{:href => "http://csp.youratm.in/csp/Login"} Login  

        .container
          .row
            .col-lg-10.col-lg-offset-1.col-md-12
              / INTRO HEADING
              %h1.intro.purple-text.text-center Transfer Money To Any Bank Account, Anywhere In India, At Any Time!
              / CALL TO ACTION
          / .row.text-center
          /   / 3 FEATURES ON HOMEPAGE
          /   .home-features
          /     / SINGLE FEATURE
          /     .col-md-4.col-sm-4
          /       .single-feature
          /         .icon.green-text
          /           %span.fa.fa-money
          /           / ICON
          /         %h6.green-text.uppercase Fixed Price Projects
          /     / SINGLE FEATURE
          /     .col-md-4.col-sm-4
          /       .single-feature
          /         .icon.purple-text
          /           %span.icon.icon-clock-regular
          /           / ICON
          /         %h6.purple-text.uppercase Receive On Time
          /     / SINGLE FEATURE
          /     .col-md-4.col-sm-4
          /       .single-feature
          /         .icon.yellow-text
          /           %span.icon.icon-happy-smiley-streamline
          /           / ICON
          /         %h6.yellow-text.uppercase Satisfaction Guranteed
          / END OF 3 FEATURES
    /
      \=========================
      SECTION: ABOUT US
      \==============================
    %section#section1.about-us
      .container
        .row
          / FEATURED IMAGE AREA
          .col-lg-6.visible-lg
            .featured-image.red-gradient-overlay
              %img{:alt => "", :src => "assets/about-us.jpg"}/
              / ABOUT US FEATURED IMAGE
              .image-border
          / ABOUT US BOX
          .col-lg-6.col-sm-12.overflow-box.pull-right
            .about-box.diffuse-shadow.wow.fadeInRight{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
              .about-content
                %h2.section-heading.text-left About Us.
                / PARAGRAPH
                %p.text-left
                  YourATM.in is world's best leading online service provider in India.We operate on a B2B2C model, where we partner with neighbourhood retail stores who can offer Assisted Digital Financial Services like Aadhaar ATM, Aadhaar Deposit, Utility Payment, Prepaid Cards, Money Transfer,payment services like Bharat QR and UPI using the YourATM.in. Our innovative solutions are modeled to make the financial transactions seamless, quick, easy and strives to empower our retailer partners. We give you exciting offers to make you save money and earn more benefits. We are looking forward to make your life "Easy and Speedy" in every possible manner. Now you are just a click away from the things and services of your desire. We absolutely deliver our promise as customer satisfaction, their security of payment and privacy is our top most priority. We believe in long term relationship and always focus in providing the long term solutions to our clients.
              .four-lines
                .line.red-line-bottom
                .line.green-line-bottom
                .line.purple-line-bottom
                .line.yellow-line-bottom
    /
      \=========================
      SECTION: SERVICES
      \==============================
    %section#section2.our-focus.bgcolor-2
      .container
        / SECTION HEADER
        .section-header
          %h2 Our Focus.
          .sub-heading
            We understand your need and provide quality works.
        .row.focuses
          / SINGLE FOCUS COLUMN
          .col-lg-3.col-sm-6.col-xs-12
            .single-focus.white-bg.diffuse-shadow.red-line-bottom.wow.fadeInLeft{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
              / ICON
              .icon.red-text
                %span.icon.icon-basic-postcard-multiple
              / HEADING
              %h5.green-text Money Transfer
              / DETAILS
              %p
                Transfer money instantly to any bank account in India at the YourATM retail store.
          / SINGLE FOCUS COLUMN
          .col-lg-3.col-sm-6.col-xs-12
            .single-focus.white-bg.diffuse-shadow.green-line-bottom.wow.fadeInUp{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
              / ICON
              .icon.green-text
                %span.icon.icon-basic-map
              / HEADING
              %h5.purple-text Aadhaar Banking
              / DETAILS
              %p
                Deposit and withdraw cash easily with fingerprint and Aadhaar number.
          / SINGLE FOCUS COLUMN
          .col-lg-3.col-sm-6.col-xs-12
            .single-focus.white-bg.diffuse-shadow.purple-line-bottom.wow.fadeInDown{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
              / ICON
              .icon.purple-text
                %span.icon.icon-camera-regular
              / HEADING
              %h5.yellow-text Mobile/TV Recharge
              / DETAILS
              %p
                Instantly recharge mobile number and TV DTH at the YourATM retail store.
          / SINGLE FOCUS COLUMN
          .col-lg-3.col-sm-6.col-xs-12
            .single-focus.white-bg.diffuse-shadow.yellow-line-bottom.wow.fadeInRight{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
              / ICON
              .icon.yellow-text
                %span.icon.icon-unie16d
              / HEADING
              %h5.red-text Utility Bill Payment
              / DETAILS
              %p
                Pay any utility bills for over 100 billers in India at the YourATM. All under one roof.
    /
      \=========================
      SECTION: VIDEO SECTION
      \==============================
    /
      \=========================
      SECTION: PORTFOLIO
      \==============================
   
    /
      \=========================
      SECTION: TEAM
      \==============================
    %section#section4.team.bgcolor-2
      .container
        / SECTION NUMBER
        / SECTION HEADER
        .section-header
          %h2 Our Team.
          .sub-heading
            We understand your need and provide quality works.
        .row
          / TEAM MEMBER LIST
          .member-list
            / SINGLE MEMBER
            .col-lg-3.col-md-3.col-sm-6.col-xs-12
              .single-member.red-line-bottom.diffuse-shadow.wow.fadeInLeft{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
                .member-pic.red-gradient-overlay
                  .gradient
                    %img{:alt => "", :src => "assets/my.jpg"}/
                    / MEMBER IMAGE
                %h6.red-text Mr. Atul Nikhade 
                / MEMBER NAME
                .extra-small-text
                  Founder &amp; CEO
            / SINGLE MEMBER
            / .col-lg-3.col-md-3.col-sm-6.col-xs-12
            /   .single-member.green-line-bottom.diffuse-shadow.wow.fadeInUp{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
            /     .member-pic.green-gradient-overlay
            /       .gradient
            /         %img{:alt => "", :src => "assets/2.jpg"}/
            /         / MEMBER IMAGE
            /     %h6.green-text Michael Schmitt
            /     / MEMBER NAME
            /     .extra-small-text
            /       Founder &amp; CEO
            / / SINGLE MEMBER
            / .col-lg-3.col-md-3.col-sm-6.col-xs-12
            /   .single-member.purple-line-bottom.diffuse-shadow.wow.fadeInDown{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
            /     .member-pic.purple-gradient-overlay
            /       .gradient
            /         %img{:alt => "", :src => "assets/3.jpg"}/
            /         / MEMBER IMAGE
            /     %h6.purple-text Michael Schmitt
            /     / MEMBER NAME
            /     .extra-small-text
            /       Founder &amp; CEO
            / / SINGLE MEMBER
            / .col-lg-3.col-md-3.col-sm-6.col-xs-12
            /   .single-member.yellow-line-bottom.diffuse-shadow.wow.fadeInRight{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
            /     .member-pic.yellow-gradient-overlay
            /       .gradient
            /         %img{:alt => "", :src => "assets/4.jpg"}/
            /         / MEMBER IMAGE
            /     %h6.yellow-text Michael Schmitt
            /     / MEMBER NAME
            /     .extra-small-text
            /       Founder &amp; CEO
    /
      \=========================
      SECTION: STATS
      \==============================
    / %section.stats.fixed-bg
    /   .color-overlay
    /     .container
    /       .row
    /         / STAT
    /         .col-lg-3.col-md-3.col-sm-6.wow.fadeInUp{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
    /           .stats-icon.red-text
    /             %span.icon.icon-graph-regular
    /           %h5.white-text 12,458+
    /           .stats-text
    /             Projects Completed
    /           .bottom-icon.red-text
    /             %span.icon.icon-circle-slelected
    /         / STAT
    /         .col-lg-3.col-md-3.col-sm-6.wow.fadeInUp{"data-wow-delay" => "0.30s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
    /           .stats-icon.green-text
    /             %span.icon.icon-add-user-regular
    /           %h5.white-text 1,796+
    /           .stats-text
    /             Satisfied Clients
    /           .bottom-icon.green-text
    /             %span.icon.icon-circle-slelected
    /         / STAT
    /         .col-lg-3.col-md-3.col-sm-6.wow.fadeInUp{"data-wow-delay" => "0.45s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
    /           .stats-icon.purple-text
    /             %span.icon.icon-like
    /           %h5.white-text 1,000+
    /           .stats-text
    /             Positive Feedbacks
    /           .bottom-icon.purple-text
    /             %span.icon.icon-circle-slelected
    /         / STAT
    /         .col-lg-3.col-md-3.col-sm-6.wow.fadeInUp{"data-wow-delay" => "1s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
    /           .stats-icon.yellow-text
    /             %span.icon.icon-gift-regular
    /           %h5.white-text 1,500+
    /           .stats-text
    /             Freebies Released
    /           .bottom-icon.yellow-text
    /             %span.icon.icon-circle-slelected
    / /
    /   \=========================
    /   SECTION: WORK STEPS
    /   \==============================
    / %section#section5.work-steps
    /   .container
    /     / SECTION NUMBER
    /     .section-number.centered-number
    /       05
    /     / SECTION HEADER
    /     .section-header
    /       %h2 Work Steps.
    /       .sub-heading
    /         We understand your requirement and provide quality works.
    /     .row.steps
    /       .col-lg-6.col-lg-offset-3
    /         / STEP 1
    /         .step.step-1-image.clearfix
    /           .step-box-left.diffuse-shadow.red-line-bottom.white-bg.wow.fadeInLeft{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
    /             .step-number
    /               01
    /             / STEP NUMBER
    /             .content-area
    /               %h4.text-left Project Understanding
    /               %p.text-left
    /                 Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.
    /         / STEP 2
    /         .step.step-2-image.clearfix
    /           .step-box-right.diffuse-shadow.green-line-bottom.white-bg.wow.fadeInRight{"data-wow-delay" => "0.25s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
    /             .step-number
    /               02
    /             / STEP NUMBER
    /             .content-area
    /               %h4.text-left Research &amp; Planning
    /               %p.text-left
    /                 Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.
    /         / STEP 3
    /         .step.step-3-image.clearfix
    /           .step-box-left.diffuse-shadow.purple-line-bottom.white-bg.wow.fadeInLeft{"data-wow-delay" => "0.35s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
    /             .step-number
    /               03
    /             / STEP NUMBER
    /             .content-area
    /               %h4.text-left Wireframe &amp; Design
    /               %p.text-left
    /                 Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.
    /         / STEP 2
    /         .step.step-4-image.clearfix
    /           .step-box-right.diffuse-shadow.yellow-line-bottom.white-bg.wow.fadeInRight{"data-wow-delay" => "0.45s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
    /             .step-number
    /               04
    /             / STEP NUMBER
    /             .content-area
    /               %h4.text-left Development
    /               %p.text-left
    /                 Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor accelerator.
    /
      \=========================
      SECTION: PRICING
      \==============================
    / %section#section6.pricing.bgcolor-2
    /   .container
    /     / SECTION NUMBER
    /     .section-number.centered-number
    /       06
    /     / SECTION HEADER
    /     .section-header
    /       %h2 Pricing Table.
    /       .sub-heading
    /         We understand your requirement and provide quality works.
    /     .row.packages
    /       / SINGLE PACKAGE
    /       .col-lg-4.col-md-4
    /         .single-package.green-line-top.white-bg.diffuse-shadow.wow.fadeInLeft{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
    /           %h5 Starter
    /           .price-circle-green
    /             %h4.white-text $125
    /             / PRICE
    /             .extra-small-text.white-text
    /               Per Month
    /           %ul.feature-list
    /             %li
    /               %span.strong 800GB
    /               Online Storage
    /             %li
    /               %span.strong 20
    /               Files Per Day
    /             %li
    /               %span.strong 2TB
    /               Monthly Bandwidth
    /             %li
    /               %span.icon.icon-icon-check
    /               Secure Platform
    /             %li
    /               %span.icon.icon-icon-check
    /               Fast &amp; Reliable
    /             %li
    /               %span.icon.icon-icon-check
    /               24/7 Customer Support
    /           %a.btn.btn-default.standard-button.green-outline{:href => ""} Get Started
    /       / SINGLE PACKAGE
    /       .col-lg-4.col-md-4
    /         .single-package.red-line-top.white-bg.diffuse-shadow.wow.fadeInUp{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
    /           %h5 Starter
    /           .price-circle-red
    /             %h4.white-text $125
    /             / PRICE
    /             .extra-small-text.white-text
    /               Per Month
    /           %ul.feature-list
    /             %li
    /               %span.strong 800GB
    /               Online Storage
    /             %li
    /               %span.strong 20
    /               Files Per Day
    /             %li
    /               %span.strong 2TB
    /               Monthly Bandwidth
    /             %li
    /               %span.icon.icon-icon-check
    /               Secure Platform
    /             %li
    /               %span.icon.icon-icon-check
    /               Fast &amp; Reliable
    /             %li
    /               %span.icon.icon-icon-check
    /               24/7 Customer Support
    /           %a.btn.btn-default.standard-button.red-button{:href => ""} Get Started
    /       / SINGLE PACKAGE
    /       .col-lg-4.col-md-4
    /         .single-package.purple-line-top.white-bg.diffuse-shadow.wow.fadeInRight{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
    /           %h5 Starter
    /           .price-circle-purple
    /             %h4.white-text $125
    /             / PRICE
    /             .extra-small-text.white-text
    /               Per Month
    /           %ul.feature-list
    /             %li
    /               %span.strong 800GB
    /               Online Storage
    /             %li
    /               %span.strong 20
    /               Files Per Day
    /             %li
    /               %span.strong 2TB
    /               Monthly Bandwidth
    /             %li
    /               %span.icon.icon-icon-check
    /               Secure Platform
    /             %li
    /               %span.icon.icon-icon-check
    /               Fast &amp; Reliable
    /             %li
    /               %span.icon.icon-icon-check
    /               24/7 Customer Support
    /           %a.btn.btn-default.standard-button.purple-outline{:href => ""} Get Started
    / /
    /   \=========================
    /   SECTION: TESTIMONIALS
    /   \==============================
    / %section#section7.testimonials.fixed-bg
    /   .color-overlay
    /     .container
    /       / SECTION NUMBER
    /       .section-number.centered-number
    /         07
    /       / SECTION HEADER
    /       .section-header
    /         %h2.white-text Testimonials.
    /         .sub-heading.white-text
    /           We understand your requirement and provide quality works.
    /       #feedbacks.owl-carousel.owl-theme
    /         / START FIRST FEEDBACK
    /         .row
    /           .single-feedback.clearfix
    /             / CLIENT IMAGE FOR LARGE SCREEN
    /             .col-lg-4.visible-lg
    /               .client-image.wow.fadeInUp{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
    /                 %img{:alt => "", :src => "assets/client-1.jpg"}/
    /                 .image-border
    /             .col-lg-8
    /               .feedback-content.white-bg.clearfix
    /                 .q-sign.top
    /                   “
    /                 %blockquote.clearfix
    /                   %p.text-left
    /                     Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release client traction creative facebook monetization crowdfunding rockstar.
    /                   %cite.pull-left.text-left
    /                     / CLIENT IMAGE FOR SMALL SCREEN
    /                     .client-image.hidden-lg
    /                       %img{:alt => "", :src => "assets/client-1.jpg"}/
    /                     .client-details
    /                       .signature
    /                         %img{:alt => "", :src => "assets/signature-1.png"}/
    /                       %h6.dark-text Melina Albrecht
    /                       .extra-small-text
    /                         Founder, TingTong
    /                 .q-sign.bottom
    /                   ”
    /                 .four-lines
    /                   .line.red-line-bottom
    /                   .line.green-line-bottom
    /                   .line.purple-line-bottom
    /                   .line.yellow-line-bottom
    /         / END FIRST FEEDBACK
    /         / START SECOND FEEDBACK
    /         .row
    /           .single-feedback.clearfix
    /             / CLIENT IMAGE FOR LARGE SCREEN
    /             .col-lg-4.visible-lg
    /               .client-image.wow.fadeInUp{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
    /                 %img{:alt => "", :src => "assets/client-2.jpg"}/
    /                 .image-border
    /             .col-lg-8
    /               .feedback-content.white-bg.clearfix
    /                 .q-sign.top
    /                   “
    /                 %blockquote.clearfix
    /                   %p.text-left
    /                     Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership equity series A financing network effects user experience crowdsource. Burn rate stock bootstrapping direct mailing release client traction creative facebook monetization crowdfunding rockstar.
    /                   %cite.pull-left.text-left
    /                     .client-image.hidden-lg
    /                       %img{:alt => "", :src => "assets/client-2.jpg"}/
    /                     .client-details
    /                       .signature
    /                         %img{:alt => "", :src => "assets/signature-2.png"}/
    /                       %h6.dark-text Alexander Weiß
    /                       .extra-small-text
    /                         Founder, TingTong
    /                 .q-sign.bottom
    /                   ”
    /                 .four-lines
    /                   .line.red-line-bottom
    /                   .line.green-line-bottom
    /                   .line.purple-line-bottom
    /                   .line.yellow-line-bottom
    /         / END SECOND FEEDBACK
    / /
    /   \=========================
    /   SECTION: FEATURES / WHY SELECT US
    /   \==============================
    / %section#section8.features
    /   .container
    /     / SECTION NUMBER
    /     .section-number.centered-number
    /       08
    /     / SECTION HEADER
    /     .section-header
    /       %h2 Why Select Us?
    /       .sub-heading
    /         We understand your requirement and provide quality works.
    /     .row.feature-grid.wow.fadeInUp{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
    /       / SINGLE FEATURE
    /       .col-lg-4.col-md-4.col-sm-4
    /         .feature-box.text-left
    /           .feature-header
    /             .icon.red-text
    /               %span.icon.icon-graph2
    /               / FEATURE ICON
    /             %h6
    /               Business
    /               %br>/
    /               Growth
    /             / HEADING
    /           / FEATURE DETAILS
    /           %p
    /             Success scrum project funding marketing seed money prototype innovator direct hackathon android angel investor.
    /       / SINGLE FEATURE
    /       .col-lg-4.col-md-4.col-sm-4
    /         .feature-box.text-left
    /           .feature-header
    /             .icon.green-text
    /               %span.icon.icon-edit
    /               / FEATURE ICON
    /             %h6
    /               Unlimited
    /               %br>/
    /               Revisions
    /             / HEADING
    /           / FEATURE DETAILS
    /           %p
    /             Technology founders churn rate niche market long tail release iteration burn rate backing. Churn rate accelerator.
    /       / SINGLE FEATURE
    /       .col-lg-4.col-md-4.col-sm-4
    /         .feature-box.text-left
    /           .feature-header
    /             .icon.purple-text
    /               %span.icon.icon-exapnd2
    /               / FEATURE ICON
    /             %h6
    /               Ultimate
    /               %br>/
    /               Perfection
    /             / HEADING
    /           / FEATURE DETAILS
    /           %p
    /             Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership.
    /       / SINGLE FEATURE
    /       .col-lg-4.col-md-4.col-sm-4
    /         .feature-box.text-left
    /           .feature-header
    /             .icon.yellow-text
    /               %span.icon.icon-display1
    /               / FEATURE ICON
    /             %h6
    /               Smart
    /               %br>/
    /               Experience
    /             / HEADING
    /           / FEATURE DETAILS
    /           %p
    /             Success scrum project funding marketing seed money prototype innovator direct hackathon android angel investor.
    /       / SINGLE FEATURE
    /       .col-lg-4.col-md-4.col-sm-4
    /         .feature-box.text-left
    /           .feature-header
    /             .icon.red-text
    /               %span.icon.icon-date
    /               / FEATURE ICON
    /             %h6
    /               Strict
    /               %br>/
    /               Deadline
    /             / HEADING
    /           / FEATURE DETAILS
    /           %p
    /             Technology founders churn rate niche market long tail release iteration burn rate backing. Churn rate accelerator.
    /       / SINGLE FEATURE
    /       .col-lg-4.col-md-4.col-sm-4
    /         .feature-box.text-left
    /           .feature-header
    /             .icon.green-text
    /               %span.icon.icon-medal
    /               / FEATURE ICON
    /             %h6
    /               Reputed
    /               %br>/
    /               Company
    /             / HEADING
    /           / FEATURE DETAILS
    /           %p
    /             Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership.
    /     / CALL TO ACTION
    /     .row.cta-bottom
    /       .col-lg-12
    /         / HEADING
    /         %h4.wow.fadeInLeft{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"} Start your journey with us now
    /         / BUTTON
    /         %a.btn.btn-default.standard-button.red-button.wow.fadeInRight{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30", :href => ""} Get Started
    / /
    /   \=========================
    /   SECTION: BLOG
    /   \==============================
    / %section#section9.blog.bgcolor-2
    /   .container
    /     / SECTION NUMBER
    /     .section-number.centered-number
    /       09
    /     / SECTION HEADER
    /     .section-header
    /       %h2 Our Blog
    /       .sub-heading
    /         We understand your requirement and provide quality works.
    /     .row.blog-posts
    /       / FEATURED POST
    /       .col-lg-6.col-md-6
    /         .featured-post.red-line-bottom.white-bg.diffuse-shadow.text-left
    /           / FEATURED IMAGE
    /           .post-featured-image.dark-gradient-overlay
    /             %img{:alt => "Blog featured image", :src => "assets/featured-image.jpg"}/
    /           / POST AUTHOR AND DATE
    /           .post-info
    /             .author.uppercase.red-text.strong
    /               Damian Schreiber
    /             .date.extra-small-text.white-text
    /               December 10, 2015
    /           / POST TITLE AND DETAILS
    /           .post-content
    /             %a{:href => ""}
    /               %h5.post-title
    /                 Facebook’s CNN livestream will test its place in the second screen era
    /             %p
    /               Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm
    /       / REGULAR POSTS
    /       .col-lg-6.col-md-6
    /         / SINGLE POST
    /         .regular-post.green-line-bottom.white-bg.diffuse-shadow.text-left.wow.fadeInUp{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
    /           / AUTHOR AND DATE
    /           .post-info
    /             .green-text.uppercase
    /               Damian Schreiber
    /             .date.extra-small-text
    /               December 10, 2015
    /           / POST TITLE AND DETAILS
    /           .post-content
    /             %a{:href => ""}
    /               %h6.post-title Google Street View adds virtual reality support
    /             %div
    /               Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm
    /         / SINGLE POST
    /         .regular-post.purple-line-bottom.white-bg.diffuse-shadow.text-left.wow.fadeInUp{"data-wow-delay" => "0.25s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
    /           / AUTHOR AND DATE
    /           .post-info
    /             .purple-text.uppercase
    /               Damian Schreiber
    /             .date.extra-small-text
    /               December 10, 2015
    /           / POST TITLE AND DETAILS
    /           .post-content
    /             %a{:href => ""}
    /               %h6.post-title Google Street View adds virtual reality support
    /             %div
    /               Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm
    /         / SINGLE POST
    /         .regular-post.yellow-line-bottom.white-bg.diffuse-shadow.text-left.wow.fadeInUp{"data-wow-delay" => "0.35s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
    /           / AUTHOR AND DATE
    /           .post-info
    /             .yellow-text.uppercase
    /               Damian Schreiber
    /             .date.extra-small-text
    /               December 10, 2015
    /           / POST TITLE AND DETAILS
    /           .post-content
    /             %a{:href => ""}
    /               %h6.post-title Google Street View adds virtual reality support
    /             %div
    /               Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm
    / /
    /   \=========================
    /   SECTION: SUBSCRIBE FORM
    /   \==============================
    / %section.subscribe-section
    /   / HEADING
    /   %h3.wow.fadeInLeft{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"} Subscribe to Newsletter
    /   / SUBSCRIBE FORM
    /   %form.subscribe-form.mailchimp.wow.fadeInRight{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
    /     %input.input-box.bg-color1{:name => "email", :placeholder => "Enter your email", :type => "email"}/
    /     %button.btn.btn-default.standard-button.red-button{:type => "submit"} Subscribe Now
    /   / ERROR AND SUCCESS MESSAGE - AUTO GENERATED BY MAILCHIMP
    /   .mailchimp-error.red-text
    /   .mailchimp-success.green-text
    /
      \=========================
      SECTION: CONTACT US
      \==============================
    %section#section10.get-in-touch
      .container
        / SECTION NUMBER
        / SECTION HEADER
        .row
          .col-lg-12
            .mapouter
              .gmap_canvas
                %iframe#gmap_canvas{:frameborder => "0", :height => "519", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?q=Bhamboli&t=&z=13&ie=UTF8&iwloc=&output=embed", :width => "1100"}
                :css
                  .mapouter{text-align:right;height:700px;width:1080px;}
                  .gmap_canvas {overflow:hidden;background:none!important;height:519px;width:1120px;}


        .row.no-gutters
          .footer.clearfix
            .col-lg-3.col-md-3
              .footer-col
                .footer-logo
                  %img{:src => "assets/main.png"}/
                  / LOGO
            .col-lg-3.col-md-3
              .footer-col
                %h6.green-text Registered Office
                %p.white-text
                  Chakan MIDC Phase II, Bhamboli, Tal- Khed, Dist - Pune-410501
            .col-lg-2.col-md-2
              .footer-col
                %h6.purple-text Phone
                %p.white-text
                  +91 9604309618
                  %br+91 8805195691
            .col-lg-3.col-md-3
              .footer-col
                %h6.yellow-text Email
                %p.white-text
                  atsnikhade@gmail.com
                  %br customercareyouratm@gmail.com
            .col-lg-2.col-md-2
              .footer-col    
                .social-icons
                  %a{:href => ""}
                    %span.icon.icon-sb-facebook
                  %a{:href => ""}
                    %span.icon.icon-sb-twitter
                  %a{:href => ""}
                    %span.icon.icon-sb-instagram
                  %a{:href => ""}
                    %span.icon.icon-sb-google-plus
          .four-lines
            .line.red-line-bottom
            .line.green-line-bottom
            .line.purple-line-bottom
            .line.yellow-line-bottom
    /
      \=========================
      JS SCRIPTS
      \==============================
    %script{:src => "assets/jquery-1.11.3.min.js"}
    %script{:src => "assets/third-party-scripts.js"}
    %script{:src => "assets/custom.js"}
